    .menu {
        &__content {
            height: 100px;
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(20, 18, 18);
            background-color: rgba(#fff, 0.5);
            transition: 1.1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &__title {
            font-weight: bold;
            margin-bottom: 6px;
            text-transform: uppercase;
            font-size: 22px;
            color: #000000;
        }
        &__subtitle {
            font-weight: lighter;
            font-size: 16px;
            color: #000000;
        }
    }
    
    .menu-item {
        min-width: 30%;
        height: 240px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        margin: 0 7.5px 15px;
        overflow: hidden;
        // background-position: center;
        // background-size: cover;
        &:first-child {
            margin-right: 7.5px;
        }
        &:last-child {
            margin-left: 7.5px;
        }
        &.large {
            height: 380px;
        }
        .background-image {
            width: 100%;
            height: 100%;
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            background-position: center;
            background-size: cover;
            transition: 3s transform cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover {
            cursor: pointer;
            & .menu__content {
                background-color: rgba(#fff, 0.7);
            }
            & .background-image {
                transform: scale(1.1);
            }
        }
    }