body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 50px;
}

a {
    text-decoration: none;
    color: black;
}

.blur {
    filter: blur(10px);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}